body {
    font-size: 14px;
    padding: 10px;
}

#footer {
    display: flex;
    overflow: auto;
    width: 100%;
    margin-top: 16px;
}

#status {
    align-self: flex-start;
    color: green;
}

#reset {
    margin-left: auto;
}
