body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 300px;
    padding: 15px;
}

#title {
    display: table;
}

#title h1 {
    font-weight: normal;
    font-weight: bold;
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}

.btn-icon,
.btn-text {
    vertical-align: middle;
}

.btn-text {
    margin-left: 8px;
    color: white;
}

.btn-blue {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    width: 100%;
    margin-top: 12px;
    padding: 12px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #0496ff;
    box-shadow: 0 6px #027bce;
}

.btn-blue:hover {
    top: -2px;
    box-shadow: 0 8px #027bce;
}

.btn-blue:active {
    top: 6px;
    box-shadow: 0 0 #027bce;
}
